/* Global CSS */
*{

    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}


/* Header CSS */

.burgermenu{
    display: none;
    position: absolute;
    top: 20px;
    right: 10px;
}
.burgermenu:hover{
    cursor: pointer;
    opacity : 65%;
}
.open-burger {
    height: 140px;
}
.carrouselcontainer {
    padding-top: 80px;
}
#carrousel{
    z-index: 1;
    width: 80%; 
    max-width: 1000px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 5px;
    border: solid 2px #daefe6;
}
#carrousel figure {
    position: relative; 
    width: 500%;
    margin: 0;
    padding: 0;
    font-size: 0;
    left: 0;
    text-align: left;
    animation: 25s slidy infinite;
    
}
#carrousel figure img {
    width: 20%; 
    height: auto;
    float: left;
}
@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
  }
nav {
    background-color: #daefe6;
    position: fixed;
    display: flex;
    width: 100%;
    z-index: 6;
}
.menudesktop {
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav ul li {
    list-style: none;
}
nav a {
    text-decoration: none;
    color : white;
    font-size: 26px;
    margin-right: 10px;
}
nav a:hover {
    background-color: white;
    color:#daefe6;
    text-decoration: underline;
}
#logohover:hover {
    background-color:#daefe6;
}


/* Main CSS */


.title-style{

    text-align: center;
    margin-top: 40px    ;
}


 /* Form Css */

.fieldset-form{
    color: rgba(75, 68, 68, 0.411);
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
    background-color: #DAEFE6;
    border:2px solid rgba(29, 150, 29, 0.671,1);
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;
    border-color: rgba(128, 128, 128, 0.281);
    border-style: solid ;
    border-width: 5px;
    
    
}
.map {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 3%;
    
}


/* Footer CSS */

footer{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-color: #DAEFE6;
    padding: 20px;
    padding-bottom: 10px;
    text-align: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-color: rgba(128, 128, 128, 0.281);
    border-width: 5px;
}

.div-footer{
    padding: 5px;
    text-align: left;
}
.facebook-logo{

    width: 30px;
    height: 30px;
}

.twitter-logo{

    width: 30px;
    height: 30px;

}





/* Footer CSS */


/* Mobile Version */

@media only screen and (max-width:751px)
{
    .itemmenu{
        display: none;
    }
    .burgermenu {
        display: block; 
    }
}

