/* Global CSS */

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}

/* Header CSS */

.burgermenu{
    display: none;
    position: absolute;
    top: 20px;
    right: 10px;
}
.burgermenu:hover{
    cursor: pointer;
    opacity : 65%;
}
.open-burger {
    height: 140px;
}
.carousel{

}
nav {
    background-color: #daefe6;
    position: fixed;
    display: flex;
    width: 100%;
}
.menudesktop {
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav ul li {
    list-style: none;
}
nav a {
    text-decoration: none;
    color : white;
    font-size: 26px;
    margin-right: 10px;
}
nav a:hover {
    background-color: white;
    color:#daefe6;
    text-decoration: underline;
}
#logohover:hover {
       background-color:#daefe6;
}


/* Main CSS */
main {
    padding-top: 80px;
}
h1{
    text-align: center;
}
/* Footer CSS */

 /* Form Css */

.fieldset-form{
    color: rgba(75, 68, 68, 0.411);
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #DAEFE6;
    border:2px solid rgba(29, 150, 29, 0.671,1);
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;
    
}



/* Footer CSS */


/* Mobile Version */
@media only screen and (max-width:751px)
{
    .itemmenu{
        display: none;
    }
    .burgermenu {
        display: block; 
    }
}