/* Global CSS */
*{

    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: white;
}


/* Header CSS */

.burgermenu{
    display: none;
}
#burger {
    position: absolute;
    top: 20px;
    right: 10px;
}
.burgermenu:hover{
    cursor: pointer;
    opacity : 65%;
}
.open-burger {
    height: 140px;
}
.displayMenu {
    display: block !important;
}
.carrouselcontainer {
    padding-top: 80px;
}
#carrousel{
    z-index: 1;
    width: 80%; 
    max-width: 1000px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 5px;
    border: solid 2px #daefe6;
}
#carrousel figure {
    position: relative; 
    width: 500%;
    margin: 0;
    padding: 0;
    font-size: 0;
    left: 0;
    text-align: left;
    animation: 25s slidy infinite;
    
}
#carrousel figure img {
    width: 20%; 
    height: auto;
    float: left;
}
@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}
nav {
    background-color: #daefe6;
    position: fixed;
    display: flex;
    width: 100%;
    z-index: 6;
}
.menudesktop {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#menumobile{
    display: none;
}
nav ul li {
    list-style: none;
}
nav a {
    text-decoration: none;
    color : white;
    font-size: 26px;
    margin-right: 10px;
}
nav a:hover {
    background-color: white;
    color:#daefe6;
    text-decoration: underline;
    
}
#logohover:hover {
    background-color:#daefe6;
}

/* Main CSS */

main{
    color:#9ebbaf;
}
hr{
    border: 1px solid;
    text-align: center;
    margin: 40px 150px 0px 150px;
}
/* Presentation */
.first_section{
    margin : auto 20px;
}
.title-style{
    text-align:center;
    margin: 50px 0px 50px 0px;
    text-transform: uppercase;
    font-size: 2rem;
}
.text_justify{
    text-align: justify;
    padding-bottom: 15px;
}
.h2_size{
    text-transform: uppercase;
    font-size: 1.5rem;
    padding-left: 15px;
    margin-bottom: 25px;
}
.general{
    margin: 20px auto;
}
.little_img {
    width: 35px;
    height: 35px;
    margin-left: 5px;
}
.flex_presentation{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
article{
    width: 40%;
    padding: 10px 10px 10px 10px;
    text-align: justify;
}
.article_1, .article_3{
    margin-right: 40px;
}
h3{
    margin-bottom: 15px;
    font-weight: 800;
}

/* Horaires et tarifs */
table {
    width:70%; 
    margin : 0 auto; 
    border-collapse: collapse;
}
th,td{
    border: 2px solid #99aba2;
    text-align: center;
    height: 50px;
}
caption{
    margin-bottom: 20px;
}
.tfoot_left{
    text-align: left;
    border: none;
    padding-top: 10px;
}
ul li{
    list-style: none;
}
.tarif_center{
    text-align: center;
    margin-top: 40px;
}
td ul li {
    margin-bottom: 10px;
}
.style_inscription{
    font-size: 1.3rem;
    margin-bottom: 45px;
}
.tarif_center ul li {
    margin-bottom: 10px;
}

/* Equipe */
.equipe_section{
    margin-bottom: 80px;
    width: 100%;
}
.middle_img{
    width: 100%;
    height: auto;
}
.flex_equip{
    display: flex;
    justify-content: space-around;
}
figure{
    width: 25%;
}
figure {
    position: relative;
    display: inline-block;
    overflow: autogitgit ;
    margin: 0;
}
.middle_img, figcaption {
    transition: all .25s ease;
}
.middle_img {
    display: block;
}
figcaption {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: .5em;
    background: #000;
    background: rgba(0, 0, 0, .75);
    color: #fff;
    opacity: 0;
}
figure:hover .middle_img {
    transform: scale(1.1);
}
figure:hover figcaption {
    opacity: 1;
}

 /* Formulaire de contact Css */

.fieldset-form{
    color: rgba(75, 68, 68, 0.411);
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    background-color: #DAEFE6;
    border:2px solid rgba(29, 150, 29, 0.671,1);
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;
    border-color: rgba(128, 128, 128, 0.281);
    border-style: solid ;
    border-width: 5px;
}

.label-style, .input-style, .area-style{

    margin: 0 auto;
    margin-bottom: 10px;
}

#textarea{

    border-radius: 10px;
}

button{
    background-color:#99aba2;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    
}

button:hover{

    opacity: 50%;
}

#contact{
    font-size: 1.3rem;
    padding: 20px;

}


.map {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 3%;
    
}


/* Footer CSS */

footer{
    color: #99aba2;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-color: #DAEFE6;
    padding: 20px;
    padding-bottom: 10px;
    text-align: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-color: rgba(128, 128, 128, 0.281);
    border-width: 5px;
}

.p-footer{

padding: 5px;
}

footer a{

    text-decoration: none;
    color: #99aba2;
}

footer a:hover{

    color: white;
    text-decoration: underline;
}

.div-footer{
    padding: 5px;
    text-align: left;
}



.logo-style{

    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-right: 10px;
}

.logo-style:hover{

    opacity: 50%;
    border-radius: 5px;

}

i{

    padding: 10px;
}



/* Footer CSS */



/* Mobile Version */

@media only screen and (max-width:751px)
{
    .itemmenu{
        display: none;
    }
    .burgermenu {
        display: block; 
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #DAEFE6;
        padding: 20px;
        padding-bottom: 10px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        border-color: rgba(128, 128, 128, 0.281);
        border-width: 5px;
    }
    .div-footer{
        padding: 5px;
        text-align: center;
    }


/* Presentation */
    .flex_presentation{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    article{
        width:auto;
    }
    .article_1, .article_3{
        margin-right: auto;
    }

/* Tableau */  
    td, th{
        font-size: 12px;
    }
    table{
        width: 90%;
    }
/* Equipe */    
    .flex_equip{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }  
    figure{
        width: 75%;
        margin-bottom: 40px;
    } 
}



